@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin360 1s linear infinite;
}
